<div #container
     class="container background-tint"
     [id]="registerContainer(container)"
     (mouseover)="icon.simulateHoverIcon()"
     (mouseout)="icon.simulateLeaveIcon()">
    <!-- Grid for the Minecraft banner:
        Left: Icon (api.pixelcampus.space/static/res/icon.png)
        Middle: Text
        Right: Connection info
    -->
    <div class="row">
        <app-minecraft-icon #icon
        [customIcon]="customFavicon ?? 'https://api.pixelcampus.space/api/minecraft/icon.png'"
                  (ClickAction)="ClickAction.emit()">
        </app-minecraft-icon>

        <div class="text-column">
            <div class="server-name">
                {{ customTitle ?? serverName }}
            </div>
            @if (customDescription != null) {
                <div class="server-description"
                     style="color: gray; font-family: Minecraft Italic"
                     [innerHTML]="customDescription">
                </div>
            } @else {
                @for(sp of serverDescription; track sp.toString()) {
                    <span class="server-description-part"
                        [style.color]="sp.color"
                        [style.fontFamily]="sp.fontFamily">
                        {{ sp.text }}
                    </span>
                    <br />
                }
            }
        </div>

        <div class="right">
            <app-player-count [latency]="customLatency ?? latency"
                              [playerCount]="customPlayerCount ?? playerCount"
                              [maxPlayerCount]="customMaxPlayerCount ?? maxPlayerCount"
                              [players]="players"
                              class="player-count"></app-player-count>
            @if (!customized) {
                <app-version-info [version]="serverVersion"
                                  class="version-info"></app-version-info>
            }
        </div>
    </div>
    <!-- Overlay div to prevent the user from selecting text -->
</div>