<div class="popup">
    <!-- grid for navigator and content -->
    <div class="content">
        <app-minecraft-popup class="app-popup">
            <div class="text">
                <h1>How to Connect</h1>
                <h2>Java</h2>
                <span>
                    Server IP: <br /> <code (click)="copyIp()" (mouseover)="onHover()" (mouseleave)="onLeave()" [style.color]="ipColor">{{ipText}}</code>
                </span>
                <h2>Bedrock</h2>
                <span>
                    Server IP: <em>same</em> <br />
                    Port: <code (click)="copyPort()" (mouseover)="onHover()" (mouseleave)="onLeave()" [style.color]="portColor">{{portText}}</code>
                </span>
            </div>
        </app-minecraft-popup>
    </div>
    <div class="bottom">
        <app-minecraft-button class="button" [content]="'Close'" (ClickAction)="closePopup.emit()"></app-minecraft-button>
    </div>
</div>