$x-offset: 0px;
$y-offset: 10px;
$blur-radius: 10px;
$spread-radius: -5px;

@font-face {
    font-family: 'Minecraft Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Minecraft Regular'), url('/assets/fonts/1_MinecraftRegular1.woff') format('woff');
}


@font-face {
    font-family: 'Minecraft Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Minecraft Italic'), url('/assets/fonts/2_MinecraftItalic1.woff') format('woff');
}


@font-face {
    font-family: 'Minecraft Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Minecraft Bold'), url('/assets/fonts/3_MinecraftBold1.woff') format('woff');
}


@font-face {
    font-family: 'Minecraft Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Minecraft Bold Italic'), url('/assets/fonts/4_MinecraftBoldItalic1.woff') format('woff');
}

.popup {
    width: 100%;
    height: 100%;

    background-image: url('/assets/background/background-180.png') !important;
    background-size: 80px 80px !important;
    image-rendering: pixelated !important;

    background-color: rgba(0, 0, 0, 0.85);
    background-blend-mode: multiply;

    display: flex;
    flex-direction: column;

    align-items: center;

    font-family: Minecraft Regular;

    -moz-box-shadow:    inset $x-offset $y-offset $blur-radius $spread-radius black,
                        inset $x-offset (-$y-offset) $blur-radius $spread-radius black;
    -webkit-box-shadow: inset $x-offset $y-offset $blur-radius $spread-radius black,
                        inset $x-offset (-$y-offset) $blur-radius $spread-radius black;
    box-shadow:         inset $x-offset $y-offset $blur-radius $spread-radius black;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;

    overflow-y: scroll;
    overflow-x: hidden;
}

/* .page-content {
    height: calc(166px * 3 - 50px);
    width: calc(248px * 3 - 50px);
    margin: 50px;

    padding: 25px;

    background-image: url('/assets/card.png') !important;
    background-size: calc(248px * 3) calc(166px * 3) !important;
    image-rendering: pixelated !important;
    background-repeat: no-repeat;
} */

.text {
    height: 100%;
}

.button {
    width: 350px;
    height: 50px;

    image-rendering: pixelated !important;

    // Shadow
    -moz-box-shadow: 0px 0px 10px 5px black;
    -webkit-box-shadow: 0px 0px 10px 5px black;
    box-shadow: 0px 0px 10px 5px black;
}

h1 {
    font-size: 40px;
    color: rgb(255, 255, 255);

    // Text shadow (pixelated)
    text-shadow: 2px 2px #3e3e3e;
}

h2 {
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;

    // Text shadow (pixelated)
    text-shadow: 2px 2px #3e3e3e;
}

span {
    font-size: 20px;
    color: rgb(66, 66, 66);
}

code {
    font-size: 20px;
    color: rgb(87, 87, 87);
    font-family: Minecraft Bold;
}

.app-popup {
    width: 80%;
    margin: 30px;
}