.server-icon {
    margin: 8px;
    margin-top: 8px;
    width: 80px;
    height: 80px;

    image-rendering: pixelated !important;
}

.overlay {
    width: 80px;
    height: 80px;
    image-rendering: pixelated !important;

    // Render on top of the server icon
    position: relative;
    left: 8px;
    top: -94px;

    display: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.arrow-button-image {
    width: 28px;
    height: 44px;

    margin-right: 8px;

    image-rendering: pixelated !important;
}

.container {
    width: 96px;
    height: 96px;
}