<div #tooltip
     class="container"
     [style.display]="display ? 'block' : 'none'"
     [style.left]="x"
     [style.top]="y"
     [style.width]="w"
     [style.height]="h">
    <!-- GRID -->
    <div class="grid">
        <div class="border-top sprite"></div>
        <div class="border-bottom sprite"></div>
        <div class="border-left sprite"></div>
        <div class="border-right sprite"></div>
        <div class="border-inner-top sprite"></div>
        <div class="border-inner-bottom sprite"></div>
        <div class="border-inner-left sprite"></div>
        <div class="border-inner-right sprite"></div>
        <div class="content">
            <ng-content></ng-content>
        </div>
    </div>
</div>