<div class="container">
    <!-- GRID -->
    <div class="grid">
        <div class="border-top sprite"></div>
        <div class="border-bottom sprite"></div>
        <div class="border-left sprite"></div>
        <div class="border-right sprite"></div>
        <div class="border-inner-top sprite"></div>
        <div class="border-inner-bottom sprite"></div>
        <div class="border-inner-left sprite"></div>
        <div class="border-inner-right sprite"></div>
        <div class="content">
            <span>
                {{ content ?? 'Button' }}
            </span>
        </div>
    </div>
</div>