<ng-template
    [ngTemplateOutlet]="recursive"
    [ngTemplateOutletContext]="{ list: items }">
</ng-template>

<ng-template #recursive let-list="list">
    @for (item of list; track identifierOf(item)) {
        @if (isString(item)) {
            {{ stringOf(item) }}
        } @else {
            @switch ( tagOf(item) ) {
                <!-- Headers -->
                @case ('h1') {
                    <h1 [style]="styleOf(item)" [style]="styleOf(item)">
                        <ng-template
                            [ngTemplateOutlet]="recursive"
                            [ngTemplateOutletContext]="{ list: contentOf(item) }">
                        </ng-template>
                    </h1>
                }
                @case ('h2') {
                    <h2 [style]="styleOf(item)">
                        <ng-template
                            [ngTemplateOutlet]="recursive"
                            [ngTemplateOutletContext]="{ list: contentOf(item) }">
                        </ng-template>
                    </h2>
                }
                @case ('h3') {
                    <h3 [style]="styleOf(item)">
                        <ng-template
                            [ngTemplateOutlet]="recursive"
                            [ngTemplateOutletContext]="{ list: contentOf(item) }">
                        </ng-template>
                    </h3>
                }
                @case ('h4') {
                    <h4 [style]="styleOf(item)">
                        <ng-template
                            [ngTemplateOutlet]="recursive"
                            [ngTemplateOutletContext]="{ list: contentOf(item) }">
                        </ng-template>
                    </h4>
                }
                @case ('h5') {
                    <h5 [style]="styleOf(item)">
                        <ng-template
                            [ngTemplateOutlet]="recursive"
                            [ngTemplateOutletContext]="{ list: contentOf(item) }">
                        </ng-template>
                    </h5>
                }
                @case ('h6') {
                    <h6 [style]="styleOf(item)">
                        <ng-template
                            [ngTemplateOutlet]="recursive"
                            [ngTemplateOutletContext]="{ list: contentOf(item) }">
                        </ng-template>
                    </h6>
                }
                <!-- Paragraphs -->
                @case ('p') {
                    <p [style]="styleOf(item)">
                        <ng-template
                            [ngTemplateOutlet]="recursive"
                            [ngTemplateOutletContext]="{ list: contentOf(item) }">
                        </ng-template>
                    </p>
                }
                <!-- Spans -->
                @case ('span') {
                    <span [style]="styleOf(item)">
                        <ng-template
                            [ngTemplateOutlet]="recursive"
                            [ngTemplateOutletContext]="{ list: contentOf(item) }">
                        </ng-template>
                    </span>
                }
                <!-- Line Breaks -->
                @case ('br') {
                    <br [style]="styleOf(item)"/>
                }
                <!-- Lists -->
                @case ('ul') {
                    <ul [style]="styleOf(item)">
                        <ng-template
                            [ngTemplateOutlet]="recursive"
                            [ngTemplateOutletContext]="{ list: contentOf(item) }">
                        </ng-template>
                    </ul>
                }
                @case ('ol') {
                    <ol [style]="styleOf(item)">
                        <ng-template
                            [ngTemplateOutlet]="recursive"
                            [ngTemplateOutletContext]="{ list: contentOf(item) }">
                        </ng-template>
                    </ol>
                }
                <!-- Tables -->
                @case ('table') {
                    <table [style]="styleOf(item)">
                        <ng-template
                            [ngTemplateOutlet]="recursive"
                            [ngTemplateOutletContext]="{ list: contentOf(item) }">
                        </ng-template>
                    </table>
                }
                @case ('thead') {
                    <thead [style]="styleOf(item)">
                        <ng-template
                            [ngTemplateOutlet]="recursive"
                            [ngTemplateOutletContext]="{ list: contentOf(item) }">
                        </ng-template>
                    </thead>
                }
                @case ('tbody') {
                    <tbody [style]="styleOf(item)">
                        <ng-template
                            [ngTemplateOutlet]="recursive"
                            [ngTemplateOutletContext]="{ list: contentOf(item) }">
                        </ng-template>
                    </tbody>
                }
                @case ('tr') {
                    <tr [style]="styleOf(item)">
                        <ng-template
                            [ngTemplateOutlet]="recursive"
                            [ngTemplateOutletContext]="{ list: contentOf(item) }">
                        </ng-template>
                    </tr>
                }
                @case ('th') {
                    <th [style]="styleOf(item)">
                        <ng-template
                            [ngTemplateOutlet]="recursive"
                            [ngTemplateOutletContext]="{ list: contentOf(item) }">
                        </ng-template>
                    </th>
                }
                @case ('td') {
                    <td [style]="styleOf(item)">
                        <ng-template
                            [ngTemplateOutlet]="recursive"
                            [ngTemplateOutletContext]="{ list: contentOf(item) }">
                        </ng-template>
                    </td>
                }
                <!-- Links -->
                @case ('a') {
                    <a href="{{ propertiesOf(item)['href'] }}" [style]="styleOf(item)">
                        <ng-template
                            [ngTemplateOutlet]="recursive"
                            [ngTemplateOutletContext]="{ list: contentOf(item) }">
                        </ng-template>
                    </a>
                }
                <!-- Images -->
                @case ('img') {
                    <img src="{{ getResourceUrl(propertiesOf(item)['src']) }}" alt="{{ stringContentOf(item) }}">
                }
                <!-- Code -->
                @case ('code') {
                    <code [style]="styleOf(item)">
                        <ng-template
                            [ngTemplateOutlet]="recursive"
                            [ngTemplateOutletContext]="{ list: contentOf(item) }">
                        </ng-template>
                    </code>
                }
                <!-- Blockquote -->
                @case ('blockquote') {
                    <blockquote [style]="styleOf(item)">
                        <ng-template
                            [ngTemplateOutlet]="recursive"
                            [ngTemplateOutletContext]="{ list: contentOf(item) }">
                        </ng-template>
                    </blockquote>
                }
                <!-- Horizontal Rule -->
                @case ('hr') {
                    <hr [style]="styleOf(item)">
                }
                <!-- Special -->
                @case ('button') {
                    <app-minecraft-button [target]="propertiesOf(item)['target']" [style]="'display: flex;' + styleOf(item)">
                        <ng-template
                            [ngTemplateOutlet]="recursive"
                            [ngTemplateOutletContext]="{ list: contentOf(item) }">
                        </ng-template>
                    </app-minecraft-button>
                }
                @case ('card') {
                    <app-minecraft-popup [style]="styleOf(item)">
                        <ng-template
                            [ngTemplateOutlet]="recursive"
                            [ngTemplateOutletContext]="{ list: contentOf(item) }">
                        </ng-template>
                    </app-minecraft-popup>
                }
                <!-- Div -->
                @case ('div') {
                    <div [style]="styleOf(item)">
                        <ng-template
                            [ngTemplateOutlet]="recursive"
                            [ngTemplateOutletContext]="{ list: contentOf(item) }">
                        </ng-template>
                    </div>
                }
                <!-- Default -->
                @default {
                    <ng-template
                        [ngTemplateOutlet]="recursive"
                        [ngTemplateOutletContext]="{ list: contentOf(item) }">
                    </ng-template>
                }
            }
        }
    }
</ng-template>