::ng-deep * {
    margin: 0;
    padding: 0;
}

.main {
    user-select: none;
    height: 100vh;

    overflow: hidden;
}

.bar {
    width: 100%;
    height: 64px;

    background-image: 
        url('/assets/background/background-180.png');
    background-size: 80px 80px !important;
    image-rendering: pixelated !important;
    background-repeat: repeat;

    background-color: rgba(0, 0, 0, 0.70);
    background-blend-mode: multiply;

    font-family: Minecraft Regular;
    color: white;
    font-size: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.navigator {
    // top and bottom (8px)
    display: block;
    box-shadow: inset 8px 8px 8px 8px black;

    position: relative;
    z-index: 10;

    height: 100%;
}