<!-- This is the main component of the application. -->
<main class="main">
  <!-- Brighter Bar above the main content -->
  <div class="bar">
    <span class="caption">
      Play Multiplayer
    </span>
  </div>

  @if (showPopup) {
    <app-info-popup (closePopup)="closePopup()"></app-info-popup>
  } @else {
    <div class="navigator">
      <app-navigator (showPopup)="triggerPopup()"></app-navigator>
    </div>
  }

  <!-- Footer -->
  <div class="footer">
    @if (showPopup) {
      <app-minecraft-button class="button"
                            (ClickAction)="closePopup()"
                            [style.width]="'200px'">
        Back
      </app-minecraft-button>
    } @else {
      <div class="footer-row">
        <!-- Mail Button: frederik@beimgraben.net -->
        <app-minecraft-button class="button"
                              (ClickAction)="openLink('mailto:frederik@beimgraben.net')"
                              [style.width]="'200px'">
        Contact Us
        </app-minecraft-button>
        <!-- Fakultät -->
        <app-minecraft-button class="button"
                              (ClickAction)="openLink('https://www.inf.reutlingen-university.de/')"
                              [style.width]="'200px'">
          Our University
        </app-minecraft-button>
        <!-- Source Code -->
        <app-minecraft-button class="button"
                              (ClickAction)="openLink('https://github.com/frederikbeimgraben/PixelCampus')"
                              [style.width]="'200px'">
          Source Code
        </app-minecraft-button>
      </div>
    }
  </div>
</main>
