.ping {
    width: 25px;
    height: 20px;

    image-rendering: pixelated !important;
}

@font-face {
    font-family: 'Minecraft Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Minecraft Regular'), url('/assets/fonts/1_MinecraftRegular1.woff') format('woff');
}

.tooltip {
    position: absolute;
    display: flex;
    background-image: url(/assets/ping/background.png);
    background-repeat: no-repeat;
    background-size: 72px 32px;

    width: 72px;
    height: 28px;
    image-rendering: pixelated !important;

    font-family: Minecraft Regular;
    color: white;
    font-size: 20px;

    justify-content: center;
}

.app-tooltip {
    width: 200px;
    height: 32px;
}