.sidenav-container {
    font-family: Minecraft Regular;
    color: white;

    background-image: 
        url('/assets/background/background-180.png');
    background-size: 80px 80px !important;
    image-rendering: pixelated !important;
    background-repeat: repeat;

    background-color: rgba(0, 0, 0, 0.70);
    background-blend-mode: multiply;
}

mat-toolbar {
    background-color: transparent;

    font-family: Minecraft Regular;
    color: white;

    background-image: 
        url('/assets/background/background-180.png');
    background-size: 80px 80px !important;
    image-rendering: pixelated !important;
    background-repeat: repeat;

    background-color: rgba(0, 0, 0, 0.70);
    background-blend-mode: multiply;
}

mat-sidenav {
    background: transparent;
    border: none;
}