.navigator {
    font-family: Minecraft Regular;
    color: white;

    background-image: 
        url('/assets/background/background-180.png');
    background-size: 80px 80px !important;
    image-rendering: pixelated !important;
    background-repeat: repeat;

    background-color: rgba(0, 0, 0, 0.70);
    background-blend-mode: multiply;
}

.nav-item {
    padding: 0.5rem 1rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    height: 3rem;

    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    border: transparent solid 2px;
    margin: 5px;
}

.navigator-item-text {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    text-align: center;
}

.selected {
    border: #fff solid 2px;
}