<div class="container">
    <!-- GRID -->
    <div class="grid">
        <div class="border-top sprite"></div>
        <div class="border-bottom sprite"></div>
        <div class="border-left sprite"></div>
        <div class="border-right sprite"></div>
        <div class="corner-tl sprite"></div>
        <div class="corner-tr sprite"></div>
        <div class="corner-bl sprite"></div>
        <div class="corner-br sprite"></div>
        <div class="content"
             [style.padding]="contentPaddingString"
             [style.width]="widthString"
             [style.height]="heightString">
            <ng-content></ng-content>
        </div>
    </div>
</div>