@if (isString) {
    {{ string }}
} @else {
    <div [style]="style">
        @switch (tag) {
            <!-- Headers -->
            @case ('h1') {
                <h1>
                    <app-wiki-content-items [items]="extraContent"></app-wiki-content-items>
                </h1>
            }
            @case ('h2') {
                <h2>
                    <app-wiki-content-items [items]="extraContent"></app-wiki-content-items>
                </h2>
            }
            @case ('h3') {
                <h3>
                    <app-wiki-content-items [items]="extraContent"></app-wiki-content-items>
                </h3>
            }
            @case ('h4') {
                <h4>
                    <app-wiki-content-items [items]="extraContent"></app-wiki-content-items>
                </h4>
            }
            @case ('h5') {
                <h5>
                    <app-wiki-content-items [items]="extraContent"></app-wiki-content-items>
                </h5>
            }
            @case ('h6') {
                <h6>
                    <app-wiki-content-items [items]="extraContent"></app-wiki-content-items>
                </h6>
            }
            <!-- Paragraphs -->
            @case ('p') {
                <p>
                    <app-wiki-content-items [items]="extraContent"></app-wiki-content-items>
                </p>
            }
            <!-- Lists -->
            @case ('ul') {
                <ul>
                    <app-wiki-content-items [items]="extraContent"></app-wiki-content-items>
                </ul>
            }
            @case ('ol') {
                <ol>
                    <app-wiki-content-items [items]="extraContent"></app-wiki-content-items>
                </ol>
            }
            <!-- Tables -->
            @case ('table') {
                <table>
                    <app-wiki-content-items [items]="extraContent"></app-wiki-content-items>
                </table>
            }
            @case ('thead') {
                <thead>
                    <app-wiki-content-items [items]="extraContent"></app-wiki-content-items>
                </thead>
            }
            @case ('tbody') {
                <tbody>
                    <app-wiki-content-items [items]="extraContent"></app-wiki-content-items>
                </tbody>
            }
            @case ('tr') {
                <tr>
                    <app-wiki-content-items [items]="extraContent"></app-wiki-content-items>
                </tr>
            }
            @case ('th') {
                <th>
                    <app-wiki-content-items [items]="extraContent"></app-wiki-content-items>
                </th>
            }
            @case ('td') {
                <td>
                    <app-wiki-content-items [items]="extraContent"></app-wiki-content-items>
                </td>
            }
            <!-- Links -->
            @case ('a') {
                <a href="{{ properties['href'] }}">
                    <app-wiki-content-items [items]="extraContent"></app-wiki-content-items>
                </a>
            }
            <!-- Images -->
            @case ('img') {
                <img src="{{ properties['src'] }}" alt="{{ properties['alt'] }}">
            }
            <!-- Code -->
            @case ('code') {
                <code>
                    <app-wiki-content-items [items]="extraContent"></app-wiki-content-items>
                </code>
            }
            <!-- Blockquote -->
            @case ('blockquote') {
                <blockquote>
                    <app-wiki-content-items [items]="extraContent"></app-wiki-content-items>
                </blockquote>
            }
            <!-- Horizontal Rule -->
            @case ('hr') {
                <hr>
            }
            <!-- Special -->
            @case ('button') {
                <app-minecraft-button [target]="properties['target']">
                    <app-wiki-content-items [items]="extraContent"></app-wiki-content-items>
                </app-minecraft-button>
            }
            @case ('card') {
                <app-minecraft-popup>
                    <app-wiki-content-items [items]="extraContent"></app-wiki-content-items>
                </app-minecraft-popup>
            }
            <!-- Default -->
            @default {
                <app-wiki-content-items [items]="extraContent"></app-wiki-content-items>
            }
        }
    </div>
}